<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Inverter with Go and WASM</title>
</head>
<body>
    <h1>Derk</h1>
    <input type="text" id="inputText" placeholder="Enter the master password" oninput="invText()">
    <p>Derived password: <span id="invertedText"></span></p>

    <script>
        {{ file.Read "wasm_exec.js" }}

        const wasmBase64 = `{{ file.Read "main.wasm.b64" }}`;
        const wasmBinary = Uint8Array.from(atob(wasmBase64), c => c.charCodeAt(0));

        const go = new Go();
        WebAssembly.instantiate(wasmBinary, go.importObject).then((result) => {
            go.run(result.instance);
        });

        async function invText() {
            const input = document.getElementById('inputText').value;
            const inverted = await window.invertText(input);
            document.getElementById('invertedText').innerText = inverted;
        }
    </script>
</body>
</html>

