<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>derk</title>
</head>
<body>
    <h1>derk</h1>
    <input type="text" id="inputText" placeholder="Enter the master password" oninput="invText()">
    <p>Derived password: <span id="secret"></span></p>

    <script>
        {{ file.Read "dev/wasm_exec.js" }}

        const wasmBase64 = `{{ file.Read "dev/web.base64" }}`;
        const wasmBinary = Uint8Array.from(atob(wasmBase64), c => c.charCodeAt(0));

        const go = new Go();
        WebAssembly.instantiate(wasmBinary, go.importObject).then((result) => {
            go.run(result.instance);
        });

        async function invText() {
            const input = document.getElementById('inputText').value;
            const secret = await window.deriveAndFormat(input);
            document.getElementById('secret').innerText = secret;
        }
    </script>
</body>
</html>

