<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>derk</title>
</head>
<body>
    <h1>derk</h1>
    <input type="text" id="inputDomain" placeholder="Enter the domain">
    <input type="text" id="inputUsername" placeholder="Enter the username">
    <input type="text" id="inputMethod" placeholder="Enter the method">
    <input type="password" id="inputPassword" placeholder="Enter the master password">
    <a href="#" onclick="generateSecret(); return false;">Copy the secret to clipboard</a>
    <br>
    <input type="file" id="inputConfig" placeholder="Select config file">
    <div id="outputConfig" style="margin-top: 20px;"></div>

    <script>
        // We embed Go's WASM runtime library.
        {{ file.Read "wasm_exec.js" }}
        // We embed derk's wasm binary encoded with base64.
        const wasmBase64 = `{{ file.Read "derk.base64" }}`;

        const inputPassword = document.getElementById('inputPassword');
        const inputDomain = document.getElementById('inputDomain');
        const inputUsername= document.getElementById('inputUsername');
        const inputMethod = document.getElementById('inputMethod');
        const inputConfig = document.getElementById('inputConfig');
        const outputConfig = document.getElementById('outputConfig');

        // Start the WASM module.
        const wasmBinary = Uint8Array.from(atob(wasmBase64), c => c.charCodeAt(0));
        const go = new Go();
        WebAssembly.instantiate(wasmBinary, go.importObject).then((result) => {
            go.run(result.instance);
        });

        async function generateSecret() {
            const password = inputPassword.value;
            const domain = inputDomain.value;
            const username= inputUsername.value;
            const method = inputMethod.value;
            const secret = await window.deriveAndFormat(password, domain, username, method);
            navigator.clipboard.writeText(secret).then(() => {
                console.log("Copied to clipboard:");
            }).catch(err => {
                console.error("Error copying to clipboard:", err);
            });
        }

        var parsedConfig;

        async function generateSecretForConfig(confidx) {
            const entry = parsedConfig[confidx];
            const password = inputPassword.value;
            const domain = entry["domain"];
            const username= entry["username"];
            const method = entry["method"];
            const secret = await window.deriveAndFormat(password, domain, username, method);
            navigator.clipboard.writeText(secret).then(() => {
                console.log("Copied to clipboard:");
            }).catch(err => {
                console.error("Error copying to clipboard:", err);
            });
        }

        async function openDB() {
            const db = await new Promise((res, rej) => {
                const r = indexedDB.open("store", 1);
                r.onupgradeneeded = () => r.result.createObjectStore("files");
                r.onsuccess = () => res(r.result);
                r.onerror = () => rej(r.error);
            });
            return db;
        }

        (async () => {
            const db = await openDB();
            async function onConfigChange() {
                const req = db.transaction("files").objectStore("files").get("configFileContents");
                req.onsuccess = () => {
                    const text = req.result;
                    const json = JSON.parse(text);
                    parsedConfig = json;
                    outputConfig.innerHTML = json.map((entry, idx) => `
                        <button type="button" onclick="generateSecretForConfig(${idx})" style="margin-right: 8px;">copy the password to clibboard</button>
                        <span style="margin-right: 8px;">domain: ${entry["domain"]}</span>
                        <span style="margin-right: 8px;">username: ${entry["username"]}</span>
                        <span style="margin-right: 8px;">method: ${entry["method"]}</span>
                        <hr>
                    `).join("");
                };
            }
            inputConfig.onchange = async () => {
                const file = inputConfig.files[0];
                if (!file) return;
                const text = await file.text();
                const tx = db.transaction("files", "readwrite");
                tx.objectStore("files").put(text, "configFileContents");
                tx.oncomplete = async () => {
                    await onConfigChange();
                    alert("Done!");
                }
            };
            await onConfigChange();
        })();
    </script>
</body>
</html>

